[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "tests/lib/Unity"]
	path = tests/lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
